:root {
  --body_background: rgb(255, 255, 255);
  --body_color: black;
  --link_color: #1a0dab;
  --text_color: black;
  --form_color: rgb(255, 255, 255);
  --Header_background: rgb(255, 255, 255);
  --Ansewer_background: #fff;
  --mais_resultados_background: #fff;
  --border_color: #afadad;
  --modal_border_color: #afadad;
  --icon-color: black;
  --button_color: #e8f1f1;
  --button_hover_color: #afadad;
  --Modal_button_background: #e4e4e4;
  
}

[data-theme="dark"] {
  --body_background: #111111;
  --body_color: white;
  --link_color: white;
  --text_color: white;
  --form_color: #333333;
  --Header_background: #111111;
  --Ansewer_background: #222222;
  --mais_resultados_background: rgb(255,255,255,0.18);
  --border_color: #111111;
  --modal_border_color: #333333;
  --icon-color: white;
  --button_color: #030218;
  --button_hover_color: #111111;
  --Modal_button_background: #222222;
}

*{
  transition: all 0.3s ease-in-out;
}

html, body {
  height: 100%;
}

body {
  font-family: "Alegreya SC", serif;
  margin: 0;
  padding: 0;
  background: var(--body_background);
  color: var(--body_color);
}
