.Geral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  background: var(--Ansewer_background);
}

a:link {
  text-decoration: none;
  color: var(--link_color);
 }
 
 a:hover {
  text-decoration: underline;
 }

.widget {
  display: grid;
  justify-content: left;
  align-items: center;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 80px;
  margin-bottom: 20px;
}

.logo_answer {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  margin-top: -20px;
  cursor: grab;
}

.Header {
  background: var(--Header_background);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 5px;
  position: relative;
}


h1 {
  font-family: "Alegreya SC", serif;
  color: --var(text_color);
  border: black;
  font-size: 2.5em;
}

.formSearch_ans input {
  background: var(--form_color);
  border-radius: 40px;
  width: 35em;
  height: 2.6em;
  margin-top: -10px;
  text-align: left;
  color: var(--text_color);
  display: flex;
  flex-grow: 1;
  border: none;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: medium;
  padding-left: 25px;
}

.formSearch_ans {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.formSubmit {
  display: flex;
  align-items: center;
}

.searchButton_ans {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 10px;
}

.DarkModeButton_ans {
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 10px;

}

.resultados{
  padding-left: 20px;
  padding-right: 350px;
}

.resultados{
  padding-left: 20px;
}

.resultados h2{
  margin-top: -20px;
}
.resultados h4{
  margin-top: -20px;
  font-weight: lighter;
}

.resultados p{
  margin-top: 30px;
  font-size: 0.9em;
}
