.Geral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  background: var(--Ansewer_background);
  overflow-x: hidden;
}

a:link{
  text-decoration: none;
  color: var(--link_color);
}

a:hover {
  text-decoration: underline;
}

.logo_answer {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  margin-top: -20px;
  cursor: grab;
}

.Header {
  background: var(--Header_background);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 5px;
  position: relative;
  border: 2px solid;
  border-color: var(--border_color);
}

h1 {
  font-family: "Alegreya SC", serif;
  color: --var(text_color);
  border: black;
  font-size: 2.5em;
}

.formSearch_ans input {
  background: var(--form_color);
  border-radius: 40px;
  width: 34em;
  height: 2.6em;
  margin-top: -10px;
  text-align: left;
  color: var(--text_color);
  display: flex;
  flex-grow: 1;
  border: none;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: medium;
  padding-left: 25px;
  border: 2px solid;
  border-color: var(--border_color);
}

.formSearch_ans {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.formSearch_ans .input-container_ans {
  position: relative;
  width: 35em;
}

.formSearch_ans .searchButton_ans {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  padding-bottom: 0.5em;
  border-radius: 20px;
}

.formSearch_ans .searchButton_ans img {
  width: 1.5em;
  height: auto;
  filter: var(--icon-filter);
}

.formSubmit {
  display: flex;
  align-items: center;
}

.searchButton_ans {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 10px;
}

.DarkModeButton_ans {
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 10px;
}

.resultados {
  padding-left: 20px;
  padding-right: 350px;
}

.resultados h2 {
  margin-top: -20px;
}

.resultados h4 {
  font-family: "Rubik", sans-serif;
  margin-top: -20px;
  font-weight: lighter;
}

.resultados p {
  margin-top: 30px;
  font-size: 0.9em;
}

.mais_resultados {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 20px;
}

.mais_resultados button {
  border-radius: 20px;
  width: 200px;
  height: 40px;
  background-color: var(--mais_resultados_background);
  color: var(--text_color);
  font-size: medium;
  font-weight: 700;
  border: 2px solid;
  border-color: var(--border_color);
}

.date {
  font-size: 0.8em;
  justify-content: left;
  align-items: left;
  display: flex;
  padding-right: 91%;
}

.modalStyle {
  justify-content: center;
  text-align: center;
  align-content: center;
  align-self: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  background-color: var(--Header_background);
  color: var(--text_color);
  box-shadow: 24px;
  padding: 4px;
}

.modal-button {
  margin-top: 16px;
  background-color: var(--Modal_button_background) !important ;
  color: var(--text_color) !important;
}




